/ch02_src/cdievents/target/
/ch02_src/conversationscope/target/
/ch03_src/jakartarestintro/target/
/ch03_src/jakartarestintroclient/target/
/ch03_src/jakartarestjavajson/target/
/ch03_src/jakartarestjavajsonclient/target/
/ch03_src/pathparams/target/
/ch03_src/pathparamsclient/target/
/ch03_src/queryparams/target/
/ch03_src/queryparamsclient/target/
/ch03_src/serversentevents/target/
/ch03_src/serversenteventsclient/target/
/ch04_src/jsonpmodel/target/
/ch04_src/jsonpstreaming/target/
/ch04_src/jsonpointer/target/
/ch04_src/jsonpatch/target/
/ch04_src/jsonbjsontojava/target/
/ch04_src/jsonbjavatojson/target/
